.cards-home{
  background-color: white;
  margin: 150px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(6, 250px,  );
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}


div h1{
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 100px;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(0,0,0, 0.1) ;
  border-radius: 15px;
  border-color: black;
}